{{#extends "base"}}
  {{#block "title"}}m-CRA 21 Scores{{/block}}

  {{#block "content"}}
    <h1 class="mb-4">m-CRA 21 Scores</h1>

    <p class="mb-4 btn btn-secondary">ID: {{result._id}}</p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Question</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each questions}}
          <tr>
            <td>{{this.qn}}</td>
            <td>
              {{#if_eq this.result "0"}}Strongly Disagree{{/if_eq}}
              {{#if_eq this.result "1"}}Disagree{{/if_eq}}
              {{#if_eq this.result "2"}}Neither Agree nor Disagree{{/if_eq}}
              {{#if_eq this.result "3"}}Agree{{/if_eq}}
              {{#if_eq this.result "4"}}Strongly Agree{{/if_eq}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <a class="btn btn-primary" href="/dashboard">Back</a>
  {{/block}}
{{/extends}}
